* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body #root {
  width: 100vw;
  height: 100vh;
}
body #root main {
  width: 100vw;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  filter: contrast(110%);
  background-color: #b199ff;
  background-image: radial-gradient(at 68% 22%, hsl(209deg, 95%, 64%) 0px, transparent 50%), radial-gradient(at 23% 57%, hsl(180deg, 65%, 62%) 0px, transparent 50%), radial-gradient(at 4% 54%, hsl(295deg, 73%, 75%) 0px, transparent 50%), radial-gradient(at 48% 90%, hsl(260deg, 85%, 73%) 0px, transparent 50%), radial-gradient(at 71% 31%, hsl(139deg, 64%, 77%) 0px, transparent 50%), url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.12' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  position: relative;
  z-index: -10;
}
body #root main .circle1 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 290px;
  left: 140px;
  z-index: 20;
  filter: blur(25px);
}
body #root main .circle2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
}
body #root main .circle3 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
}
body #root main .letters {
  min-height: 7rem;
  width: 100vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  transform: translateX(-2rem);
}
body #root main .letters .letter {
  display: grid;
  place-items: center;
}
body #root main .letters .letter h1 {
  font-family: "Recursive", sans-serif;
  text-transform: uppercase;
  font-size: clamp(1rem, 15vw + 5rem, 20rem);
  line-height: 0.1;
  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
  grid-area: 1/1;
}
@media only screen and (max-width: 800px) {
  body #root main .letters .letter h1 {
    font-size: clamp(1rem, 12vw + 5rem, 11rem);
  }
}
@media only screen and (max-width: 600px) {
  body #root main .letters .letter h1 {
    font-size: clamp(1rem, 7vw + 5rem, 7rem);
    text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
  }
}
@media only screen and (max-width: 400px) {
  body #root main .letters .letter h1 {
    font-size: 4rem;
  }
}
body #root main .letters .letter .top {
  color: #C4FFB2;
}
body #root main .letters .letter .ly1 {
  position: relative;
  transform: translateX(14px);
  color: #B7E3CC;
  z-index: -1;
}
body #root main .letters .letter .ly2 {
  position: relative;
  transform: translateX(28px);
  color: #EB5160;
  z-index: -2;
}
body #root main .letters .letter .ly3 {
  position: relative;
  transform: translateX(42px);
  color: #7D82B8;
  z-index: -3;
}
body #root main .letters .letter .ly4 {
  position: relative;
  transform: translateX(56px);
  color: #7B4B94;
  z-index: -4;
}
body #root main .letters .letter .bottom {
  position: relative;
  transform: translateX(70px);
  color: rgba(0, 0, 0, 0.1);
  z-index: -5;
  text-shadow: none;
}/*# sourceMappingURL=index.css.map */