* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    .letters {
        min-height: 25rem;
        width: 90vw;
        display: flex;
        align-items: center;
        text-align: center;
        .letter {
            width: 100%;
            height: 100%;
            position: relative;
            h1 {
                height: 100%;
                font-family: 'Recursive', sans-serif;
                text-transform: uppercase;
                font-size: 20rem;
                line-height: 0.1;
                // &::after {
                //     content: 'f';
                //     width: 100%;
                //     height: 100%;
                //     display: inline-block;
                //     position: absolute;
                //     color: blue;
                //     bottom: -22px;
                //     left: 16px;
                //     z-index: -1;
                // }
            }
            .top {
                color: wheat;
            }
            .ly1 {
                color: red;
                position: relative;
                z-index: -1;
                transform: translate(7px, -15px);
            }
            .ly2 {
                color: blue;
                position: relative;
                z-index: -2;
                transform: translate(14px, -30px);
            }
            .ly3 {
                color: aqua;
                position: relative;
                z-index: -3;
                transform: translate(21px, -45px);
            }
            .ly4 {
                color: teal;
                position: relative;
                z-index: -4;
                transform: translate(28px, -60px);
            }
        }
    }
}