* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin letter($x) {
    position: relative;
    transform: translateX($x)
}
@mixin circle($width-height) {
    width: $width-height;
    height: $width-height;
    position: absolute;
    border-radius: 50%;
    z-index: 20;
    background-color: rgb(255, 255, 255);
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    #root {
        width: 100vw;
        height: 100vh;
        main {
            width: 100vw;
            height: 100vh;
            padding: 3rem;
            display: flex;
            align-items: center;
            filter: contrast(110%);
            background-color: #b199ff;
            background-image:
                radial-gradient(at 68% 22%, hsla(209, 95%, 64%, 1) 0px, transparent 50%),
                radial-gradient(at 23% 57%, hsla(180, 65%, 62%, 1) 0px, transparent 50%),
                radial-gradient(at 4% 54%, hsla(295, 73%, 75%, 1) 0px, transparent 50%),
                radial-gradient(at 48% 90%, hsla(260, 85%, 73%, 1) 0px, transparent 50%),
                radial-gradient(at 71% 31%, hsla(139, 64%, 77%, 1) 0px, transparent 50%), 
                url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='4.12' numOctaves='2' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
                position: relative;
                z-index: -10;
            .circle1 {
                @include circle(70px);
                bottom: 290px;
                left: 13%;
                filter: blur(25px);
            }
            .circle2 {
                @include circle(45px);
                top: 50%;
                right: 50%;
                transform: translate(-80px, -170px);
                filter: blur(25px);
                z-index: 0;
            }
            .circle3 {
                @include circle(70px);
                // top: 48%;
                top: 480px;
                right: 13%;
                filter: blur(35px);
            }
            .letters {
                min-height: 7rem;
                width: 100vw;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                position: relative;
                transform: translateX(-2rem);
                .letter {
                    display: grid;
                    place-items: center;
                    h1 {
                        font-family: 'Recursive', sans-serif;
                        text-transform: uppercase;
                        font-size: clamp(1rem, 15vw + 5rem, 20rem);
                        line-height: 0.1;
                        // text-shadow: 4px 3px 8px rgba(0, 0, 0, 0.2);
                        text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
                        -webkit-font-smoothing: antialiased;
                        grid-area: 1/1;
                    }
                    @media only screen and (max-width: 800px) {
                        h1 {
                            font-size: clamp(1rem, 12vw + 5rem, 11rem);
                        }
                    }
                    @media only screen and (max-width: 600px) {
                        h1 {
                            font-size: clamp(1rem, 7vw + 5rem, 7rem);
                            text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
                        }
                    }
                    @media only screen and (max-width: 400px) {
                        h1 {
                            font-size: 4rem;
                        }
                    }
                    .top {
                        color: #C4FFB2;
                    }
                    .ly1 {
                        @include letter(14px);
                        // position: relative;
                        color: #B7E3CC;
                        z-index: -1;
                    }
                    .ly2 {
                        @include letter(28px);
                        // position: relative;
                        color: #EB5160;
                        z-index: -2;
                    }
                    .ly3 {
                        @include letter(42px);
                        // position: relative;
                        color: #7D82B8;
                        z-index: -3;
                    }
                    .ly4 {
                        @include letter(56px);
                        // position: relative;
                        color: #7B4B94;
                        z-index: -4;
                    }
                    .bottom {
                        @include letter(70px);
                        // position: relative;
                        color: rgba(0, 0, 0, 0.1);
                        z-index: -5;
                        text-shadow: none;
                    }
                }
                
            }
        }
    }
}